{% extends "layout.html" %}

{% block title %} reset your password  {% endblock title %}

{% block content %}

    <h1> reset your password </h1>
    
    {% if validlink %}
        <p> Please enter your new password twice to confirm it. </p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change your password"></p>
        </form>
    {% else %}
        <p> The password reset link was invalid, possibly because it has already been used. Please request a new password reset. </p>
    {% endif %}
{% endblock content %}